
/*table styling*/
header {
	padding: 50px 20px;
}
 main {
	text-align: center;
	margin-left: 10px;
	text-align: left;
	margin-top: 100px;
}
table {
	border-collapse: collapse;
	display: inline-block;
	text-align: left;
	border-top: 1px solid #888;
	margin-left: 30px;
}
table thead {
	background:red;
}
table tr:nth-child(even) {
	background: #dfdfdf;
}
table th, table td {
	padding: 10px 20px;
	border: 1px solid rgb(180, 175, 175);
	border-width: 0 1px 1px;
}

@media screen and (max-width: 1000px) {
	
	table td {
		display: block;
		text-align: right;
	}
	
	table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		margin-right: 10px;
	}
	
	table thead {
		display: none;
	}
}
