.footer{
    margin-top: 5%;
    /* border:1px solid blue; */
    display:flex;
    justify-content: space-between;
    background-color:#301662;
    padding:5%;
    color:white;
}

.footer h2{
   width:100%;
   margin-left: 5%;
   border:0px solid yellow;
   /* background-color: #4d96e3; */
   padding:7px;
   /* box-shadow: rgba(142, 177, 13, 0.852) 0px 8px 24px; */
}
.footer>div:nth-child(1) p{
    color:white;
    /* width:250%; */
    margin-left:5%;
   /* border:1px solid white */
   padding:2%;
}
.footer>div:nth-child(2){
    padding:7px;
    /* background-color: white; */
    /* border:1px solid green; */
    width:95%;
   height:50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}
#icons{
    margin-top: 2%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    width:35%;
    color:white;
    margin-left: 10%;
    width:80%;
    border:0px solid #4d96e3;
    padding:7px;
 }
 #icons img{
     width:90%;
 }
#pTag{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:30px;
   border:0px solid white;
   width:200%;
}

#main{
    position: relative;
    display: inline-block;
    border:0px solid rgb(0, 255, 26);
    text-align: center;
}
#ddc{
    display: none;
    position: absolute;
    text-decoration: underline;
    border:0px solid red;
    width:200%;
   
}
#valen{
   display:flex;

}
#ddc h3{
   border:0px solid black;
   width:100%;

}
#main:hover #ddc{
    /* width: 115%; */
    display: block;
    color:white;
    border-radius: 6px;
    /* border: 2px solid blue; */
    /* padding: 5px; */
    background-color:#98a7ef;
}

#nav > div:nth-child(2){
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
    color:white;
}
#nav img{
    width:10%;
}

#nav{
    display:flex;
    justify-content: space-between;
    border:1px solid white;
    background-color:#301662;
    color:white;
   margin:auto;
}
#inp {
    width:30%;
  padding:2px;
    border-radius:10px;
    height:50px;
    margin-top:15px
}
 #nav button{
    padding:7px;
    width:7%;
    border-radius:25px;
    margin-right: 25%;
    background-color:#301662;
    color:white;
    height:30px;
    margin-top:22px;
    border:1px solid white

 }

 .nav2{
    display:flex;
    justify-content: space-evenly;
    background-color:#301662;
    color:white;
    padding:5px
 }
 
 #container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    text-align: center;
   
 }
 #container img{
    width:70%;
 }
 #container>div{
    box-shadow: rgba(95, 77, 177, 0.95) 0px 2px 8px 0px;
 }