/* div{
   border: 2px solid red;
} */
*{
   margin: 0px;
   padding: 0px;
}

body{
   background-color: white;
   font-family: sans-serif;
}
#content{
   width: 90%;
   margin: auto;
}

/* Navigation bar */
#nav img{
   width:10%;
}
#nav{
   display:flex;
   justify-content: space-between;
   border:1px solid white;
   background-color:#301662;
   color:white;
   margin:auto;
   padding: 5px;
   align-items: center;
}

#inp {
   width:30%;
   /* padding: 2px 15px; */
   border-radius:19px;
   height:50px;
}
#inp:focus{
   outline: none;
}
#searchBtn{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:7px;
   width:7%;
   border-radius:25px;
   margin-right: 25%;
   background-color:#301662;
   color:white;
   height:30px;
   border:2px solid white;
   font-family: sans-serif;
}
#searchBtn:hover{
   cursor: pointer;
}
#logos{
   display: flex;
   width: 20%;
   justify-content: space-between;
   /* visibility: hidden; */
}

#nav-third-div{
   display: flex;
   width: 15%;
   justify-content: space-between;
}
/* SignedIn Part */
#signedIn{
   display: flex;
   border: 1px solid red;
   justify-content: space-between;
}
#signedIn:hover{
   cursor: pointer;
}
#loginBtn,#registerBtn{
   position: relative;
   overflow: hidden;
   height: fit-content;
   line-height: 1.2cm;
   width: 2.5cm;
   border-radius: 20px;
   color: #457eff;
   background-color: white;
   border:  2px solid #457eff;
   font-size: 0.4cm;
   font-weight: 700;
}
#loginBtn{
   margin-right: 30px;
}

/* Testing */

#loginBtn:hover{
   color: #84a4ee;
   cursor: pointer;
}
#registerBtn:hover{
   cursor: pointer;
   color: #fc9a84;
}
#nav-third-div > button::before{
   content: '';
   position: absolute;
   width: 5px;
   top: 0;
   bottom: 0;
   left: -32px;
   transform: rotate(-16deg);
   filter: blur(4px);
}
#loginBtn::before{
   background: #457eff;
}
#registerBtn::before{
   background:#ff7555;
}

#nav-third-div > button:hover::before{
   left: calc(100% + 32px);
   transition: 0.75s;
}
/* Till here */
#nav-third-div img{
   height: 30px;
   width: 30px;
}
#nav-third-div div:hover{
   cursor: pointer;
}

.nav2{
   display:flex;
   justify-content: space-evenly;
   background-color:#301662;
   color:white;
   padding:5px
}
.below-nav{
   height: 70px;
   background-color: rgb(229, 216, 240);
   color: rgb(101, 56, 139);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
   font-weight: 300;
}


/* Banner */
#banner{
   margin: auto;
   width: 99%;
   height: fit-content;
   margin-top: -100px;
}
#banner img{
   width:100%;
   height: 100%;
   border: 1px solid black;
}

#text{
   position: relative;
   top: 210px;
   width:40%;
   text-align: center;
   margin-left: 10%;
}
.first-line{
   font-family: sans-serif;
   font-weight: 500;
   font-size: 30px;
   color: black;
}
.second-line{
   font-family: sans-serif;
   font-weight: 800;
   font-size: 30px;
   color:#819c6c;
}
.third-line{
   font-family: sans-serif;
   font-weight: 500;
   font-size: 13px;
   color: black;
}
#text button{
   padding:9px;
   border-radius: 7px;
   margin-top: 20px;
}
#banner1{
padding:7px;
}

#flowerCat1{
   /* margin-top: 12px; */
   /* display:grid;
   grid-template-columns: repeat(7,1fr);
   /* gap:3px; */
   /* text-align: center;
      margin-bottom:2%;
      margin-top: 2%;
      border:1px solid black;
   */ 
   display:grid;
   grid-template-columns: repeat(7,1fr);
   gap:15px;
   text-align: center;
   margin-top: 2%;
}
#flowerCat1>div{
box-shadow: rgba(95, 77, 177, 0.95) 0px 2px 8px 0px;

width:100%;
border:0px solid red;
}
#flowerCat1>div:hover{
border:2px solid #301662;
transform:scale(1.1);
}
#flowerCat1 img{
width:100%;
}
#flowerCat3{
/* margin-top: 12px; */
display:grid;
grid-template-columns: repeat(7,1fr);
gap:15px;
text-align: center;

margin-top: 2%;

}
#flowerCat3>div{
box-shadow: rgba(95, 77, 177, 0.95) 0px 2px 8px 0px;
}
#flowerCat3>div:hover{
border:2px solid #301662;
transform:scale(1.1);
}
#flowerCat3 img{
width:100%;
}


h1{
   text-align: center;
   margin-top: 2%;
}
#flowerCat1 img{
width:100%
}
/* *{
margin: 0%;
padding:0%;
box-sizing:border-box;
} */

.swiper-wrapper{
width:100%;
margin:auto;

}
.swiper{
width:100%;
height:70%;
margin: auto;
border:0px solid red
}
.swiper-slide img{
/* width:100%; */
height:70%;
}
.swiper-slide div{
width:70%;
margin:auto;
border:0px solid blue;


}
.swiper-slide{
display: flex;

}
.swiper .swiper-button-prev ,.swiper .swiper-button-next{
color:#fff;
}
.swiper .swiper-pagination-bullet-active{
background: #fff;
}
img{
width:80%;
}

body{
background-color:#e8eeee;
border:0px solid red;
}

#middle{
width:100%
}
#container{
width:100%;
margin-right: 5%;
border:0px solid black;
margin-right: 5%;
}
#flower{
display:grid;
grid-template-columns: repeat(2,1fr);
gap:5px;
margin-left:15%;
margin-top: 3%;
text-align: center;
border:0px solid black;
width:70%
}
#flower img{
width:100%
}

#flowerCat2{
/* margin-top: 12px; */
display: grid;
grid-template-columns: repeat(4,1fr);
gap:10px;
text-align: center;
margin-top: 2%;
   border:0px solid black;
   width:100%;
}
#flowerCat2>div:hover{
/* border:2px solid #301662; */
box-shadow: rgba(95, 77, 177, 0.95) 0px 2px 8px 0px;
transform:scale(1.1);
}


#flowerCat2>div{
width:80%;
border:0px solid red;
box-shadow: rgba(190, 114, 100, 0.95) 0px 2px 8px 0px;
margin-left: 9%;
}
#footerOne{
   margin-top: 3%;
   border:0px solid black;
   color:#301662;
   box-shadow: rgba(153, 135, 230, 0.95) 0px 2px 8px 0px;
   /* padding:5px; */
}
#bgGrey{
   color:white;
   border:0px solid black;;
   background-color:#98a7ef;
   box-shadow: rgba(65, 58, 96, 0.95) 0px 2px 8px 0px;
   padding:5px;
   margin-bottom: 5px;
}

.footer{
    margin-top: 5%;
    /* border:1px solid blue; */
    display:flex;
    justify-content: space-between;
    background-color:#301662;
    
    color:white;
}

.footer h2{
   width:100%;
   margin-right: 10%;
   border:0px solid yellow;
   /* background-color: #4d96e3; */
   padding:7px;
   /* box-shadow: rgba(142, 177, 13, 0.852) 0px 8px 24px; */
   margin-top: 30%;
}
.footer>div:nth-child(1) p{
    color:white;
    /* width:250%; */
    margin-left:5%;
   /* border:1px solid white; */
   padding:3px
}
.footer>div:nth-child(2){
    padding:7px;
    /* background-color: white; */
    /* border:1px solid green; */
    width:95%;
   height:50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}
#icons{
   margin-top: 2%;
   display:grid;
   grid-template-columns: repeat(5,1fr);
   gap:30px;
   width:60%;
   color:white;
   margin-left: 10%;
   /* width:80%; */
   border:1px solid #4d96e3;
   padding:7px;
   margin-top: 7%;
}
#pTag{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:30px;
   border:0px solid white;
   width:200%;
}
 h4{
 padding:12px;  
 margin-top:2px;
 border:0px solid red;
}
#flowerCat4{
display:grid;
grid-template-columns: repeat(4,1fr);
gap:15px;
text-align: center;

margin-top: 2%;
}
#flowerCat4>div{
/* box-shadow: rgba(153, 135, 230, 0.95) 0px 2px 8px 0px; */
box-shadow: rgba(95, 77, 177, 0.95) 0px 2px 8px 0px;
width:100%;
border:0px solid red;
}
#flowerCat4>div:hover{
border:2px solid #301662;
transform:scale(1.1);
}
#flowerCat4 img{
width:100%;
}
#yoga{
margin-top: 2%;
}

#carticon{
   width:20px;
}
#cartt{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   gap:0px;
}

#nav > div:nth-child(2){
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap:15px;
   color:white;
}



/* nav2 styling */
#main{
   position: relative;
   display: inline-block;
   border:0px solid rgb(0, 255, 26);
   text-align: center;
}
#ddc{
   display: none;
   position: absolute;
   text-decoration: underline;
   border:0px solid red;
   width:200%;
   padding:5px;
  
}
#valen{
  display:flex;

}
#ddc h3{
  border:0px solid black;
  width:100%;
padding:3px
}
#main:hover #ddc{
   /* width: 115%; */
   display: block;
   color:white;
   border-radius: 6px;
   /* border: 2px solid blue; */
   /* padding: 5px; */
   background-color:#98a7ef;
}