*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  margin-right: 90px;
  
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  margin-left: 30px;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: rgb(76, 190, 51);
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #2ecc71;
}
#nav img{
  width:10%;
}
#nav{
  display:flex;
  justify-content: space-between;
  background-color:#301662;
  color:white;
  margin:auto;
  padding: 1px;
  align-items: center;
}
#logo:hover{
  cursor: pointer;
}
#inp {
  width:30%;
  /* padding: 2px 15px; */
  border-radius:19px;
  height:50px;
}
#inp:focus{
  outline: none;
}
#searchBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:9px;
  width:7%;
  border-radius:25px;
  margin-right: 25%;
  background-color:#ded5ec;
  color:rgb(21, 16, 44);
  font-weight: 500;
  height:40px;
  border:1.5px solid rgb(0, 0, 0);
  font-family: sans-serif;
}
#searchBtn:hover{
  cursor: pointer;
}
#logos{
  display: flex;
  width: 20%;
  justify-content: space-between;
  /* visibility: hidden; */
}

#nav-third-div{
  display: flex;
  width: 15%;
  justify-content: space-between;
}
/* SignedIn Part */
#signedIn{
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
}
#signedIn:hover{
  cursor: pointer;
}
#loginBtn,#registerBtn{
  position: relative;
  overflow: hidden;
  height: fit-content;
  line-height: 1.2cm;
  width: 2.5cm;
  border-radius: 20px;
  font-family: sans-serif;
  color: #457eff;
  background-color: white;
  border:  2px solid #457eff;
  font-size: 0.4cm;
  font-weight: 700;
}
#loginBtn{
  margin-right: 30px;
}

/* Testing */

#loginBtn:hover{
  color: #84a4ee;
  cursor: pointer;
}
#registerBtn:hover{
  cursor: pointer;
  color: #84a4ee;
}
#nav-third-div > button::before{
  content: '';
  position: absolute;
  width: 5px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(4px);
}
#loginBtn::before{
  background: #457eff;
}
#registerBtn::before{
  background:#457eff;
}

#nav-third-div > button:hover::before{
  left: calc(100% + 32px);
  transition: 0.75s;
}
/* Till here */
#nav-third-div img{
  height: 30px;
  width: 30px;
}
#nav-third-div div:hover{
  cursor: pointer;
}
#icons{
  margin-top: 2%;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:30px;
  /* width:45%; */
  /* color:white; */
  margin-left: 10%;
  width:80%;
  border:0px solid #4d96e3;
  padding:7px;
}
#icons img{
   width:130%;
}

/* Footer */
.footer{
  display:flex;
  justify-content: space-between;
  background-color:#412b6b;
  padding: 2% 5%;
  color:white;
}
.footer h2{
  width:100%;
  margin-left: 5%;
  font-family: sans-serif;
  margin: 20px 0px;
  font-weight: 400;
  padding:7px;
}
.footer>div:nth-child(1) p{
  color:white;
  margin-left:5%;
  margin-top: 10px;
  border:0px solid white;
  width:90%
}
.footer>div:nth-child(2){
  padding:7px;
  width:95%;
  height:50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}
#icons{
  margin-top: 2%;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:30px;
  width:60%;
  color:white;
  margin-left: 10%;
  /* width:80%; */
  border:0px solid #4d96e3;
  padding:7px;
  margin-top: 7%;
}
#pTag{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  gap:30px;
  border:0px solid white;
  width:200%;
}
body{
  font-family: sans-serif;
  background-image: url("https://w0.peakpx.com/wallpaper/168/788/HD-wallpaper-flowers-purple-flower-pink-blue-couple.jpg");
  background-size: 100% 100%;
  height: 100vh;
  background-attachment: fixed;
  
}
.nav2{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#a38cce;
  color:white;
  padding:5px;
  font-weight: 100;
  font-family: sans-serif;
  font-size: medium;
 
}
.nav2 h4{
  margin-bottom: 5%;
  border:0px solid red;
}
#main{
  position: relative;
  display: inline-block;
  border:0px solid rgb(0, 255, 26);
  text-align: center;
}
#ddc{
  display: none;
  position: absolute;
  text-decoration: underline;
  border:0px solid red;
  width:200%;
 
}
#valen{
 display:flex;

}
#ddc h3{
 border:0px solid black;
 width:100%;

}
#main:hover #ddc{
  /* width: 115%; */
  display: block;
  color:white;
  border-radius: 6px;
  /* border: 2px solid blue; */
  /* padding: 5px; */
  background-color:#98a7ef;
}