/* div{
    border: 1px solid red;
} */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    background-image: url("https://w0.peakpx.com/wallpaper/168/788/HD-wallpaper-flowers-purple-flower-pink-blue-couple.jpg");
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;
    
}
.discount{
    font-family: sans-serif;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(101, 56, 139);
    text-align: center;
    background-color: rgb(213, 191, 231);
    margin-bottom: 30px;
}

/* Main Section */
#main {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    
    padding: 30px;
}

/* Filtering Div */
.filtering{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(128, 96, 163);
    padding: 30px 20px;
    border-radius: 20px;
    height: fit-content;
    position: sticky;
    top: 50px;
}
#categories{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.categories-heading{
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(171, 144, 199);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
}
.categories{
    margin-bottom: 15px;
}
.categories > div{
    display: flex;
    align-items: center;
}
.filtering > div:nth-child(2){
    margin-top: 40px;
}
.clear{
   background-color: #fff;
   color: black;
   margin-top: 20px;
   margin-bottom: -5px;
}
.clear:hover{
   cursor: pointer;
   color: rgb(171, 144, 199);
}

/* Round Boxes */
.round-box{
    height: 13px;
    width: 13px;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 25px;
    margin-left: 10px;
}
#search-results{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    margin-left: 40px;
    background-color:#d5bfe7;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
}
#pagination{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
#pagination button{
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    color: black;
    border: none;
    background-color: rgb(184, 162, 207);

}
#pagination button:hover{
    cursor: pointer;
}
/* Card */
.card{
    padding: 20px;
    background-color: white;
    border-radius: 20px;


    border:0px solid black;

    text-align: center;
}
.card:hover{
    cursor: pointer;
}
.card p{
    margin: 10px 0px;
}
#search-results img{
    width: 308px;
    height: 346px;
    border-radius: 20px;
   /* margin-left: 10%; */
}

/* nav */
#nav img{
    width:10%;
 }
 #nav{
    display:flex;
    justify-content: space-between;
    background-color:#301662;
    color:white;
    margin:auto;
    padding: 2px;
    align-items: center;
    padding-right: 20px;
 }
 #logo:hover{
    cursor: pointer;
 }
 #inp {
    width:30%;
    padding: 0px 30px;
    border-radius:19px;
    height:50px;
 }
 #inp:focus{
    outline: none;
 }
 #searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px;
    width:7%;
    border-radius:25px;
    margin-right: 25%;
    background-color:#ded5ec;
    color:rgb(21, 16, 44);
    font-weight: 500;
    height:30px;
    border:1.5px solid rgb(0, 0, 0);
    font-family: sans-serif;
 }
 #searchBtn:hover{
    cursor: pointer;
 }
 #logos{
    display: flex;
    width: 20%;
    justify-content: space-between;
    /* visibility: hidden; */
 }
 
 #nav-third-div{
    display: flex;
    width: 15%;
    justify-content: space-between;
 }
 /* SignedIn Part */
 #signedIn{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
 }
 #signedIn:hover{
    cursor: pointer;
 }
 #loginBtn,#registerBtn{
    position: relative;
    overflow: hidden;
    height: fit-content;
    line-height: 1.2cm;
    width: 2.5cm;
    border-radius: 20px;
    font-family: sans-serif;
    color: #457eff;
    background-color: white;
    border:  2px solid #457eff;
    font-size: 0.4cm;
    font-weight: 700;
 }
 #loginBtn{
    margin-right: 30px;
 }
 
 /* Testing */
 
 #loginBtn:hover{
    color: #84a4ee;
    cursor: pointer;
 }
 #registerBtn:hover{
    cursor: pointer;
    color: #84a4ee;
 }
 #nav-third-div > button::before{
    content: '';
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(4px);
 }
 #loginBtn::before{
    background: #457eff;
 }
 #registerBtn::before{
    background:#457eff;
 }
 
 #nav-third-div > button:hover::before{
    left: calc(100% + 32px);
    transition: 0.75s;
 }
 /* Till here */
 #nav-third-div img{
    height: 30px;
    width: 30px;
 }
 #nav-third-div div:hover{
    cursor: pointer;
 }
 

 #icons img{
     width:130%;
 }
 
 /* Footer */
 .footer{
    display:flex;
    justify-content: space-between;
    background-color:#412b6b;
    padding: 2% 5%;
    color:white;
 }
 .footer h2{
    width:100%;
    margin-left: 5%;
    font-family: sans-serif;
    margin: 20px 0px;
    font-weight: 400;
    padding:7px;
 }
 .footer>div:nth-child(1) p{
    color:white;
    margin-left:5%;
    margin-top: 10px;
    border:0px solid white;
    width:90%
 }
 .footer>div:nth-child(2){
    padding:7px;
    width:95%;
    height:50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
 }
 #icons{
    margin-top: 2%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    width:60%;
    color:white;
    margin-left: 10%;
    /* width:80%; */
    border:0px solid #4d96e3;
    padding:7px;
    margin-top: 7%;
 }
 #pTag{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    border:0px solid white;
    width:200%;
 }

 .mesh-loader {
   overflow: hidden;
   height: 100%;
   width: 100%;
}

.mesh-loader .circle {
   width: 25px;
   height: 25px;
   position: absolute;
   background: #03A9F4;
   border-radius: 50%;
   margin: -12.5px;
   -webkit-animation: mesh 3s ease-in-out infinite;
   animation: mesh 3s ease-in-out infinite -1.5s;
}

.mesh-loader>div .circle:last-child {
   -webkit-animation-delay: 0s;
   animation-delay: 0s;
}

.mesh-loader>div {
   position: absolute;
   top: 50%;
   left: 50%;
}

.mesh-loader>div:last-child {
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
}

@-webkit-keyframes mesh {
   0% {
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }

   50% {
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }

   50.00001% {
      -webkit-transform-origin: 50% 200%;
      transform-origin: 50% 200%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform-origin: 50% 200%;
      transform-origin: 50% 200%;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes mesh {
   0% {
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;
      -webkit-transform: rotate(0);
      transform: rotate(0);
   }

   50% {
      -webkit-transform-origin: 50% -100%;
      transform-origin: 50% -100%;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }

   50.00001% {
      -webkit-transform-origin: 50% 200%;
      transform-origin: 50% 200%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }

   100% {
      -webkit-transform-origin: 50% 200%;
      transform-origin: 50% 200%;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}
 @media all and (min-width:510px) and (max-width:1100px){
   #logo{
display:none
   }
  
  
    #nav{
        display:flex;
        width: 100%;
        justify-content: space-around;
    }
    #inp{
     display:none
    }
    #searchBtn{
     display:none
    }
    #nav-third-div{
/* display:flex;
flex-wrap: wrap; */
width:100%;
    }
    .nav2{
        display: none;
        /* grid-template-columns: repeat(5,1fr); */
    }
    /* .nav2:hover{
     display:block;
     grid-template-columns: repeat(3,1fr);
    } */
    #search-results{
      display:grid;
      grid-template-columns: repeat(2,1fr);
   }
    .footer{
      display:flex;
      flex-wrap: wrap;
   }
   #pTag{
      display:flex;
      flex-wrap: wrap; 
   }
   #icons{
      display:none; 
   }
   .filtering{
      display:none
   }
   #search-results img{
width:100%
   }
   #pagination {
      display:none
   }
   }

   @media all and (min-width:200px) and (max-width:500px){
      #logo{
         display:none
            }
           
           
             #nav{
                 display:flex;
                 width: 100%;
                 justify-content: space-around;
             }
             #inp{
              display:none
             }
             #searchBtn{
              display:none
             }
             #nav-third-div{
               /* display:flex;
               flex-wrap: wrap;
               border:0px solid red; */
               width:100%
             }
             .nav2{
                 display: none;
                 /* grid-template-columns: repeat(5,1fr); */
             }
             /* .nav2:hover{
              display:block;
              grid-template-columns: repeat(3,1fr);
             } */
             .footer{
               display:flex;
               flex-wrap: wrap;
            }
            #pTag{
               display:flex;
               flex-wrap: wrap; 
            } 
            #icons{
               display:none; 
            }
            .filtering{
               display:none
            }
            #search-results img{
               width:100%;
              
                  }
                  #search-results{
                     display:grid;
                     grid-template-columns: repeat(1,1fr);
                  }
                  #pagination {
      display:none
   }
   }
 
