/* div{
    border: 1px solid red;
} */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    background-image: url("https://w0.peakpx.com/wallpaper/168/788/HD-wallpaper-flowers-purple-flower-pink-blue-couple.jpg");
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;
    
}
.discount{
    font-family: sans-serif;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(101, 56, 139);
    text-align: center;
    background-color: rgb(213, 191, 231);
    margin-bottom: 30px;
}

/* Main Section */
#main {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin: auto;
    
    padding: 30px;
}

/* Filtering Div */
.filtering{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgb(128, 96, 163);
    padding: 30px 20px;
    border-radius: 20px;
    height: fit-content;
    position: sticky;
    top: 50px;
}
#categories{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.categories-heading{
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(171, 144, 199);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
}
.categories{
    margin-bottom: 15px;
}
.categories > div{
    display: flex;
    align-items: center;
}
.filtering > div:nth-child(2){
    margin-top: 40px;
}
/* Round Boxes */
.round-box{
    height: 13px;
    width: 13px;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 25px;
    margin-left: 10px;
}
#search-results{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    margin-left: 40px;
    background-color:#d5bfe7;
    padding: 30px;
    gap: 20px;
    border-radius: 20px;
}

/* Card */
.card{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    border:0px solid black;
    text-align: center;
}
.card:hover{
    cursor: pointer;
}
.card p{
    margin: 10px 0px;
}
#search-results img{
    width: 308px;
    height: 346px;
    border-radius: 20px;
   /* margin-left: 10%; */
}

/* nav */
#nav img{
    width:10%;
 }
 #nav{
    display:flex;
    justify-content: space-between;
    background-color:#301662;
    color:white;
    margin:auto;
    padding: 5px;
    align-items: center;
 }
 #logo:hover{
    cursor: pointer;
 }
 #inp {
    width:30%;
    /* padding: 2px 15px; */
    border-radius:19px;
    height:50px;
 }
 #inp:focus{
    outline: none;
 }
 #searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:7px;
    width:7%;
    border-radius:25px;
    margin-right: 25%;
    background-color:#ded5ec;
    color:rgb(21, 16, 44);
    font-weight: 500;
    height:30px;
    border:1.5px solid rgb(0, 0, 0);
    font-family: sans-serif;
 }
 #searchBtn:hover{
    cursor: pointer;
 }
 #logos{
    display: flex;
    width: 20%;
    justify-content: space-between;
    /* visibility: hidden; */
 }
 
 #nav-third-div{
    display: flex;
    width: 15%;
    justify-content: space-between;
 }
 /* SignedIn Part */
 #signedIn{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
 }
 #signedIn:hover{
    cursor: pointer;
 }
 #loginBtn,#registerBtn{
    position: relative;
    overflow: hidden;
    height: fit-content;
    line-height: 1.2cm;
    width: 2.5cm;
    border-radius: 20px;
    font-family: sans-serif;
    color: #457eff;
    background-color: white;
    border:  2px solid #457eff;
    font-size: 0.4cm;
    font-weight: 700;
 }
 #loginBtn{
    margin-right: 30px;
 }
 
 /* Testing */
 
 #loginBtn:hover{
    color: #84a4ee;
    cursor: pointer;
 }
 #registerBtn:hover{
    cursor: pointer;
    color: #84a4ee;
 }
 #nav-third-div > button::before{
    content: '';
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(4px);
 }
 #loginBtn::before{
    background: #457eff;
 }
 #registerBtn::before{
    background:#457eff;
 }
 
 #nav-third-div > button:hover::before{
    left: calc(100% + 32px);
    transition: 0.75s;
 }
 /* Till here */
 #nav-third-div img{
    height: 30px;
    width: 30px;
 }
 #nav-third-div div:hover{
    cursor: pointer;
 }
 
 .footer{
    margin-top: 5%;
    /* border:1px solid blue; */
    display:flex;
    justify-content: space-between;
    background-color:#301662;
    padding:5%;
    color:white;
}

.footer h2{
   width:100%;
   margin-left: 5%;
   border:0px solid yellow;
   /* background-color: #4d96e3; */
   padding:7px;
   /* box-shadow: rgba(142, 177, 13, 0.852) 0px 8px 24px; */
}
.footer>div:nth-child(1) p{
    color:white;
    /* width:250%; */
    margin-left:5%;
   /* border:1px solid white */
   padding:2%;
}
.footer>div:nth-child(2){
    padding:7px;
    /* background-color: white; */
    /* border:1px solid green; */
    width:95%;
   height:50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}
#icons{
    margin-top: 2%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    width:35%;
    color:white;
    margin-left: 10%;
    width:80%;
    border:0px solid #4d96e3;
    padding:7px;
 }
 #icons img{
     width:90%;
 }
#pTag{
   display:grid;
   grid-template-columns: repeat(4,1fr);
   gap:30px;
   border:0px solid white;
   width:200%;
}
