/* Navigation bar */
#nav img {
    width: 10%;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: #301662;
    color: white;
    margin: auto;
    padding: 5px;
    align-items: center;
    padding-right: 20px;
}

#logo:hover {
    cursor: pointer;
}

#inp {
    width: 30%;
    padding: 0px 30px;
    border-radius: 19px;
    height: 50px;
}

#inp:focus {
    outline: none;
}

#searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 7%;
    border-radius: 25px;
    margin-right: 25%;
    background-color: #ded5ec;
    color: rgb(21, 16, 44);
    font-weight: 500;
    height: 30px;
    border: 1.5px solid rgb(0, 0, 0);
    font-family: sans-serif;
}

#searchBtn:hover {
    cursor: pointer;
}

#logos {
    display: flex;
    width: 20%;
    justify-content: space-between;
    /* visibility: hidden; */
}

#nav-third-div {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

/* SignedIn Part */
#signedIn {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

#signedIn:hover {
    cursor: pointer;
}

#loginBtn, #registerBtn {
    position: relative;
    overflow: hidden;
    height: fit-content;
    line-height: 1.2cm;
    width: 2.5cm;
    border-radius: 20px;
    font-family: sans-serif;
    color: #457eff;
    background-color: white;
    border: 2px solid #457eff;
    font-size: 0.4cm;
    font-weight: 700;
}

#loginBtn {
    margin-right: 30px;
}

/* Testing */

#loginBtn:hover {
    color: #84a4ee;
    cursor: pointer;
}

#registerBtn:hover {
    cursor: pointer;
    color: #84a4ee;
}

#nav-third-div>button::before {
    content: '';
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-16deg);
    filter: blur(4px);
}

#loginBtn::before {
    background: #457eff;
}

#registerBtn::before {
    background: #457eff;
}

#nav-third-div>button:hover::before {
    left: calc(100% + 32px);
    transition: 0.75s;
}

/* Till here */
#nav-third-div img {
    height: 30px;
    width: 30px;
}

#nav-third-div div:hover {
    cursor: pointer;
}

#container{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 22px;
    background-color: #D5BFE7;
    margin-top: 30px;
    border-radius: 30px;
    /* border:1px solid black; */
}
#first-cont{
    padding: 25px;
    background-color: #ffffff;
    font-family: sans-serif;
    border-radius: 20px;
    width: 30%;
    height: fit-content;
}
#second-cont{
    width: 50%;
    padding: 25px;
    border-radius: 15px;
    background-color: #ffffff;
}
#second-cont h1{
    text-align: center;
    background-color: #b8a3df;
    border-radius: 10px;
   
    padding: 15px;
    color: rgb(43, 42, 42);
}
#second-cont h2{
    text-align: center;
    margin-top: 20px;
    color: red;
}
#second-cont img{
    height: 190px;
    width: 190px;
    margin-right: 30px;
    border-radius: 15px;
}
#card{
    background-color: #D5BFE7;
    margin-top: 15px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    font-family: sans-serif;
}
#delivered{
    background-color: rgb(105, 185, 105);
    color: #ffffff;
    height: fit-content;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}
#log-out{
    margin: auto;
    background-color: rgb(230, 130, 130);
    color: #ffffff;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}
#log-out:hover{
    cursor: pointer;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #412b6b;
    padding: 2% 5%;
    color: white;
    margin-top: 2%;
 }
 
 .footer h2 {
    width: 100%;
    margin-left: 5%;
    font-family: sans-serif;
    margin: 20px 0px;
    font-weight: 400;
    padding: 7px;
 }
 
 .footer>div:nth-child(1) p {
    color: white;
    margin-left: 5%;
    margin-top: 10px;
    border: 0px solid white;
    width: 90%
 }
 
 .footer>div:nth-child(2) {
    padding: 7px;
    width: 95%;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
 }
 
 #icons {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 60%;
    color: white;
    margin-left: 10%;
    /* width:80%; */
    border: 0px solid #4d96e3;
    padding: 7px;
    margin-top: 7%;
 }
 
 #pTag {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    border: 0px solid white;
    width: 200%;
 }
 
 h4 {
    padding: 12px;
    margin-top: 2px;
    border: 0px solid red;
 }
 #icons {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 35%;
    /* color:white; */
    margin-left: 10%;
    width: 80%;
    border: 0px solid #4d96e3;
    padding: 7px;
 }
 
 #icons img {
    width: 90%;
 }
 @media all and (min-width:320px) and (max-width:780px){
    #logo{
display:none
    }
   
   
     #nav{
         display:flex;
         width: 60%;
         justify-content: space-around;
     }
     #inp{
      display:none
     }
     #searchBtn{
      display:none
     }
     #nav-third-div{
width: 65%;
     }
     .nav2{
         display: none;
         /* grid-template-columns: repeat(5,1fr); */
     }
     .nav2:hover{
      display:block;
      grid-template-columns: repeat(3,1fr);
     }
     #container{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap:10px;
     }
     #first-cont{
        width:80%
     }
     #second-cont{
        width:80%
     }
     .footer{
        display:flex;
        flex-wrap: wrap;
     }
     #icons{
        display:none;
     }
     #pTag{
        display:flex;
        flex-wrap: wrap; 
     }
    }

    @media all and (min-width:320px) and (max-width:780px) {
        #logo{
           display:none
                  }
                  #banner{
                    display:flex;
                    flex-direction: column;
                    border:1px solid red
                 }
        #nav {
           display: flex;
           width: 100%;
           justify-content: space-around;
        }
     
        #inp {
           display: none
        }
     
        #searchBtn {
           display: none
        }
     
        #nav-third-div {
           width: 65%;
        }
     
        .nav2 {
           display: none;
           /* grid-template-columns: repeat(5,1fr); */
        }
     
        .nav2:hover {
           display: block;
           grid-template-columns: repeat(3, 1fr);
        }
        #container{
            display:grid;
            grid-template-columns: repeat(1,1fr);
            gap:10px;
         }
         #first-cont{
            width:80%
         }
         #second-cont{
            width:80%
         }

        .footer{
            display:flex;
            flex-wrap: wrap;
         }
         #pTag{
            display:flex;
            flex-wrap: wrap; 
         }
         #icons{
            display:none;
         }
 
    }